:root {
    --akup-red: #A10D17;
    --akup-yellow: #EDB903;
    --akup-light: #FDFFFC;
    --akup-dark: #011627;
    --akup-secondary: #CECECE;
}

body {
    background-color: var(--akup-red);
    color: var(--akup-light);
}

hr {
    border-color: var(--akup-light);
}

.card hr {
    border-color: var(--akup-secondary);
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

#welcome {
    position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
}

#welcomeButtons {
    padding: 0 300px;
}

#manajerButtons a {
    width: 120px;
}

#akupLogo img {
    width: 400px;
    height: 400px;
}

.navbar {
    min-height: 4rem;
    z-index: 100;
    background-color: var(--akup-yellow);
}

.navbar-brand img {
    height: 3rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99; /* Behind the navbar */
    padding: 4rem 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 4rem);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    background-color: var(--akup-dark);
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .sidebar-sticky {
        font-size: 1.2rem;
    }
}

.sidebar-sticky .sidebar-header {
    padding: 0 1rem;
}

.sidebar-sticky nav {
    padding-left: .5rem;
}

#mainContent {
    margin-top: 4rem;
}

.menu-img {
    flex: 0 0 90px;
}

.menu-detail .menu-nama {
    font-size: 1rem;
}

.menu-detail .menu-harga {
    font-size: 0.75rem;
}

@media (min-width: 1200px) {
    .menu-img {
        flex: 0 0 120px;
    }

    .menu-detail .menu-nama {
        font-size: 1.5rem;
    }
    .menu-detail .menu-harga {
        font-size: 1rem;
    }
}

.menu-qty {
    flex: 0 0 120px;
}

.gambar-menu {
    max-height: 125px;
    max-width: 100%;
}

.gambar-menu-sm {
    max-height: 75px;
    max-width: 100%;
}